/* page hoi-dap style */

body.hoidap-page main {
    background-color: #F2F8FF;
}

.content-page {
    padding-top: 35px;
}

.block__header {
    margin-bottom: 20px;
}

.block__header a {
    padding: 3px 16px;
    border-radius: 7px;
    border: 1px solid #EA222D;
    color: #EA222D;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
}

.block__header a:hover {
    background-color: #EA222D;
    color: #fff;
}

.block__title {
    font-size: 24px;
    font-weight: bold;
    color: #06AFE3;
}

.doctor {
    margin-bottom: 35px;
}

.slider__doctor {
    width: 100%;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 10px;
   
}

.slider__doctor .item {
   padding: 0px 20px;
   color: #000;
}

.slider__doctor .item .slider__img {
   width: 150px;
   margin: 0 auto 10px;
}

.slick-prev {
    left:0px;
}

.slick-next {
    right:0px;
}

.slick-next:before {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    background-image: url(../image/left-slider.png);
    width: 20px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-prev:before {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    background-image: url(../image/right-slider.png);
    width: 20px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-prev, .slick-next {
    height: 40px;
    width: 40px;
}

.slider__doctor .item  span {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-bottom: 2px;
}

.slider__doctor .item p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.question-block {
    margin-bottom: 30px;
}

.question-related {
    border-radius: 10px;
    background-color: #fff;
    padding: 25px 25px 30px 25px;
}

.question-related > h4 {
    font-size: 18px;
    font-weight: bold;
    color: #06AFE3;
    margin-bottom: 10px;
}

.question-related .question__name {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
    margin-bottom: 15px;
}

.question-related .question__add {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}

.question-related .question__add span {
    font-weight: bold;
}

.question__full {
    margin-bottom: 1rem;
}

.question__full img {
    margin-bottom: 1rem;
    border-radius: 10px;
}

.question__full p {
    font-size: 16px;
    color: #000;
    margin-bottom: 0.7rem;
}

.button__loadmore{
    border: none;
    outline: none;
    color: #E8222D;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}

.button__loadmore img {
    position: absolute;
    width: 7px;
    right: -13px;
    top: 8px;
}

.anwer {
    align-items: flex-start;
    padding: 16px 0px;
    border-top: 1px solid #B5E1FF;
}

.anwer:last-of-type {
    border-bottom: 1px solid #B5E1FF;
}

.anwer:last-child{
    border-bottom: 1px solid #B5E1FF;
}

.anwer.reply {
    border-bottom: 1px solid #B5E1FF;
}

.anwer img {
    width: 40px;
    border-radius: 50%;
}

.enter-anwer {
    padding-top: 16px;
}

.enter-anwer  h4 {
    font-size: 18px;
    font-weight: bold;
    color: #06AFE3;
    margin-bottom: 10px;
}

.form-control-ct {
    justify-content: space-between;
    align-items: center;
    
}

.form-control-ct input {
    padding: 12px 20px;
    background-color: #F2F8FF;
    border: none;
    outline: none;
    font-size: 18px;
    color: #8E8E8E;
    border-radius: 10px;
}

.form-control-ct textarea {
    padding: 12px 20px;
    background-color: #F2F8FF;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    border-radius: 10px;
    flex: 1;
    height: 50px;
}

.form-control-ct button[type="submit"] {
    margin-left: 10px;
    padding: 12px 20px;
    background-color: #06AFE3;
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    width: 160px;
    font-weight: bold;
}

.anwer__content {
    flex: 1;
    padding-left: 16px;
}

.anwer__header {
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.respondent span{
    display: block;
    font-size: 14px;
}

.respondent h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.anwer__header a{
    display: flex;
    border: 1px solid #EA222D;
    padding: 3px 20px;
    border-radius: 100px;
    align-items: center;
}

.anwer__header a img {
    width: 13.33px;
}

.anwer__header a > span {
    font-size: 14px;
    color: #EA222D;
    font-weight: bold;
    padding-left: 5px;
}

.anwer__text {
    font-size: 16px;
    margin-bottom: 0.7rem;
}




/* ====aside==== */

aside {
    padding-bottom: 40px;
}
.block__aside {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 28px 28px;
    margin-bottom: 20px;
}

.block__aside-title {
    font-size: 20px;
    font-weight: bold;
    color: #06AFE3;
    margin-bottom: 1rem;
}

.block__aside > p {
    font-size: 18px;
    color: #000;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.block__aside .header__block {
    width: 100%;
}

.asider-doctor__item {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.asider-doctor__item img {
    width: 60px;
}

.doctor__item-desc  {
    color: #000;
    padding-left: 16px;
}

.doctor__item-desc span {
    display: block;
    font-size: 14px;
}   

.doctor__item-desc p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.doctor__item-more {
    margin-top: 20px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid #EA222D;
    border-radius: 10px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.doctor__item-more span {
    font-size: 18px;
    color: #EA222D;
    font-weight: bold;
    margin-right: 8px;
}

.doctor__item-more  img {
    width: 7px;
    margin-top: 3px;
}

.block__address {
    padding: 10px 0px;
    display: flex;
    align-items: flex-start;
}

.block__address img {
    width: 83px;
    border-radius: 10px;
}

.block__address h3 {
    font-size: 18px;
    color: #000;
    padding-left: 16px;
}

.aside-banner {
    margin-bottom: 20px;
}

.aside-banner img {
    border-radius: 10px;
}

/* ====aside==== */

@media only screen and (max-width: 1200px) {
    .block__aside {
        padding: 15px 10px;
    }
}

/* ========responsive======== */
@media only screen and (max-width:991px) {
    .header-bt {
        flex-wrap: wrap;
    }
    .page-hoidap.input-search input {
        display: block;
        width: 100%;
        max-width: 334px;
        height: 40px;
        background-color: #F5F7FA;
        position: static;
        opacity: 1;
    }
    .logo {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .page-hoidap.input-search img {
        position: absolute;
        top: 13px;
    }
    .page-hoidap.input-search {
        width: 100%;
        margin-right: 0px;
        display: flex;  
    }
}

@media only screen and (max-width:767px) {
    .block__header {
        flex-wrap: wrap;
    }
    .block__header .header__block {
        display: flex !important;
        height: 45px;
    }
    .header__block span {
        font-size: 16px;
    }
    .block__title {
        font-size: 20px;
        max-width: 65%;
    }
    .slider__doctor .item .slider__img {
        width: 90px;
    }
    .slick-prev:before, .slick-next::before {
        width: 14px;
        height: 24px;
    }
    .slider__doctor {
        padding: 20px;
    }
    .slider__doctor .item p {
        font-size: 16px;
    }
    .question-related {
        padding: 20px;
    }
    .question-related .question__name {
        font-size: 20px;
    }
    .question-related .question__add {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .button__loadmore {
        font-size: 16px;
    }
    .respondent {
        width: 100%;
    }
    .respondent h4 {
        font-size: 16px;
    }
    .anwer__header {
        flex-wrap: wrap;
    }
    .anwer__header a {
        margin-bottom: 10px;
    }
    .form-control-ct {
        display: flex;
        flex-wrap: wrap;
    }
    .form-control-ct textarea {
        width: 100%;
        flex: auto;
        height: 114px;
        margin-bottom: 16px;
    }
    .form-control-ct button[type="submit"] {
        margin-left: 0px;
        padding: 8px 20px;
        width: 100%;
    }
    .question-block {
        margin-bottom: 22px;
    }
    .block__aside {
        padding: 15px 20px 30px;
    }
    .block__aside > p {
        margin-bottom: 0px;
    }
    .aside-banner {
        display: none;
    }
    .content-page {
        padding-top: 20px;
    }
}
/* ========responsive======== */